# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.venv

# misc
.coverage
.vscode
coverage.xml

build

# Home Assistant configuration
config/*
config/configuration.yaml

.direnv/

docs/_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
